<div class="pharmacy-item d-flex justify-content-between align-items-center cursor-pointer py-3 px-4" *ngFor="let pharmacy of pharmacyList" (click)="onPharmacy(pharmacy.mobileNumber)">
    <div class="d-flex align-items-center">
        <div >
            <figure class="mb-0">
                <img class="pharmacy-image" src="../../../../assets/images/pharmacy.svg" alt="Phamacy Image"/>
            </figure>
        </div >
        <div class="pharmacy-name ps-3">
            {{pharmacy.name}}
        </div>
    </div>
    <div class="pharmacy-details">
        <div class="mobile-number text-primary">
            {{pharmacy.mobileNumber}}
        </div>
        <div class="pharmacy-address text-primary">
            {{pharmacy.city}}, {{pharmacy.state}}
        </div>
    </div>
</div>
