<div class="d-flex justify-content-between align-items-center">
    <div>
        <div class="pharmacy-image">
            <figure>
                <img src="" alt=""/>
            </figure>
        </div >
        <div class="pharmacy-name">
            Pharmacy Name
        </div>
    </div>
    <div class="pharmacy-details">
        <div class="mobile-number">
            8128569394
        </div>
        <div class="pharmacy-address">
            Surat,Gujarat.
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="OnClick()">Get Details</button>
