<div class="container-fluid p-5">
    <div class="row g-4">
        <div class="col-6">
            <app-pharmacy-list-presentation [pharmacyList]="pharmacylist$ | async" (pharmacyMobileNumber)="pharmacyMobileNumber($event)">
            </app-pharmacy-list-presentation>
        </div>
        <div class="col-6">
            <app-pharmacy-view-presentation [pharmacyDetailsByMobileNumber] = "pharmacyDetailsByMobileNumber$ | async">
            </app-pharmacy-view-presentation>
        </div>
    </div>
    
</div>