#sidebar{
    flex: 0 0 $sidebar-size;
    width: $sidebar-size;
    .side-header{
        height:$header-size
    }
    .nav-link{
        &:hover, &.active{
            background-color: rgba($primary,0.2);
            color: $primary;
        }
    }
}